# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [5]:
numberFloat = 2.3
print(numberFloat)

#OR you could do:

number_float = 4.3
print(number_float)

#HOWEVER, you should NOT do this:

# numbeer-float = 4.6 (Don't use '-')

2.3
4.3

#### Performing Calculations on ints and floats

##### Addition

In [2]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

result += 2 #result = result + 2 (This is the shorthand.)
print(result)

7.4
9.4

##### Subtraction

In [6]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [7]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2 
print(result_mul)

10.8
21.6

##### Division

In [10]:
result_div = num2/num1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [8]:
# Make sure to remember, when dividing by decimal numbers use the double 
# '//' to avoid getting an error. (Not mentioned in book.)

result_floor = num2 // num1 
print(result_floor)

2.0

##### Modulo

In [9]:
result_mod = num2 % num1
print(result_mod)

1.4000000000000004

##### Exponential

In [11]:
square = 5 ** 2
print(square)

25

### String Input-Output

##### String Assignment

In [12]:
name = "Asia"
print(name)

Asia

##### print() <br>
<p>Don't forget about end=' '</p>

In [15]:
print("This is my first name: ", name)

print("Full Name: ", name, end=" Bragg")

This is my first name:  Asia
Full Name:  Asia Bragg

##### String Concatenation

In [3]:
first_name = "Jane"
last_name = "Doe"

full_name = first_name + " " + last_name
print(full_name)

Jane Doe

##### Type Conversion

In [4]:
number = "32" #Creates a string containing "32".

change_type_num = int(number) #Turns that string "32" into number 32. 

print(number)
print(change_type_num)

#DON'T DO THIS:
# number_string = "three" (Use numbers don't write out the number.)
# number_string_float = float(number_string)

# print(number_string_float

32
32

##### input()

In [8]:
age = int(input("What is your age?: "))

print(age)

add_age = age + 1
print(add_age)

What is your age?: 25
25
26

##### format()

In [7]:
age = input("What is your age?")
result_string = "You are {} and you are still in the prime of youth!".format(age)

print(result_string)

result_again = f"{age} is a great time in life!"

print(result_again)

What is your age?25
You are 25 and you are still in the prime of youth!
25 is a great time in life!

##### Old Way (python 2)

In [9]:
result_string2 = "You are %s and you look amazing! Even with those bags." %age
print(result_string2)

You are 25 and you look amazing! Even with those bags.

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [12]:
color = input("What is the color of your car?")
year = input("What is the year your car was made?")
make = input("What is the make of your car>")
model = input("What is the model of your car?")

full_statement = (f"You drive a {color}, {year} {make} {model}! That's awesome and really shows what great taste you have!")
print(full_statement)

What is the color of your car?black
What is the year your car was made?2012
What is the make of your car>jeep
What is the model of your car?grand cherokee
You drive a black 2012, jeep grand cherokee! That's awesome and really shows what great taste you have!

### If Statements

In [13]:
# Remember your available operators and the Truth Tree. 

num1 = 5
num2 = 10

if num2 == num1:
    print("Equal Values")
else:
    print("Not Equal")
    

# Showcases the idea that in an if statement even if both multiple options
# would be correct the first one that is determined to be correct is ran. 

if num2 >= num1:
    print("Num2 is greater.")
elif num1 <= num2:
    print("Num1 is less than.")

Not Equal
Num2 is greater.

##### 'is' keyword

In [14]:
# Use the 'is' keyword when checking for same/similar objects, 
# NOT same/similar values (for that use '=='.

num3 = 55

if num3 is 55:
    print("This is the exact number")

#Don't be afraid of any syntax warnining.

This is the exact number

##### 'in' keyword

In [15]:
# Use the 'in' keyword to check if a character(s) is in some text.

char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [16]:
# Use the 'not' keyword to check if a character(s) is NOT within some text.

sega_char = "Sonic"

if 'a' not in sega_char:
    print("There's no 'a' in this text.")

There's no 'a' in this text.

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [20]:
answer = input("Type something, I'll tell you if there's a 'p'.")

if 'p' in answer:
    print("There was a 'p' in your answer.")
elif 'P' in answer:
    print("Uppercase P still counts, but points for effort.")
else:
    print("There was no 'p' in your answer.")

Type something, I'll tell you if there's a 'p'.Pine
Uppercase P still counts, but points for effort.

## Using 'and'/'or' with If Statements

In [21]:
# Use the 'and' keyword to check if multiple conditions are true.
# Use the 'or' keyword to check if at least one of multiple conditions are true.

num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# Testing the 'and' Keyword:
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")

# Testing the 'or' keyword:
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [3]:
first_name = "Max"

if first_name == 'Smith':
    print("The name is Smith")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("The name is Max.")

The name is Max.

### Else Statements

In [ ]:
# See above.

### For Loops

In [8]:
# The examples below utilize the 'for' keyword, the 'in' keyowrd,
# a counter and a condition.

# This example would print 0 through 10 times. 
# for i in range(10):
#    print(i)

name = "Asia Bragg"

# for i in name:
#    print(i)

for i in range(len(name)):
    print(name[i])

A
s
i
a

B
r
a
g
g

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [22]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [23]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [25]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [26]:
# Uses the 'while' keyword with a condition statment
# It runs based on the conditional statement given.

num = 0

while num < 10:
    print(num)
    num += 1
    
# Without the incrementer you would create an infinte loop. AVOID THOSE!

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [27]:
# while evaluates to True bu default you must include some condition to break
# the loop otherwise you have an infinte loop.

game_over = False 

while True:
    print("Infinted Loop")
    if game_over == False:
        break

Infinted Loop

##### While & For Loops Used Together

In [29]:
num = 0

while num < 5:
    print("While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: ", str(i))
        
    num += 1

While Loop Iteration: 0
For Loop Iteration:  0
For Loop Iteration:  1
While Loop Iteration: 1
For Loop Iteration:  0
For Loop Iteration:  1
While Loop Iteration: 2
For Loop Iteration:  0
For Loop Iteration:  1
While Loop Iteration: 3
For Loop Iteration:  0
For Loop Iteration:  1
While Loop Iteration: 4
For Loop Iteration:  0
For Loop Iteration:  1

### Built-In Functions

##### range()

In [30]:
# Understading Start, Stop and Step
# First # is the Start, Second is the Ending #, Third is the # of Step

for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

##### len()

In [31]:
# Checks the length of the variable. 
# Keep in mind that this function will also count spaces. 

name = "Max "

length = len(name)
print(length)

4

##### help()

In [32]:
# Use this function to view more info about another Python function
# Prints a DOCSTRING

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [34]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

print(isinstance(4.5, int))

if isinstance(4.5,float):
    print("This is a float type")

False
This is a float type

##### abs()

In [35]:
print(abs(-5))

5

### Try and Except

In [36]:
# Use whenever you expect to encounter a bug so that the error doesn't cause 
# the program to stop. Use this to log useful error messages.

try:
    number_test = 0
    input_Num = int(input("Guess a number: "))
    if input_Num != number_test:
        input_Num = input_Num + number_test
        print("Your Number is: " + str(input_Num))
except:
    print("That did not work ---- ERROR: Change Your Input to a number!")

Guess a number: this is not a number
That did not work ---- ERROR: Change Your Input to a number!

### Lists

##### Declaring Lists

In [38]:
l_1 = [] #Empty List Declaration

names = ["Max", "Cindy", "Kathy", "Bob", "Bob"]

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Bob']

##### Indexing a List

In [39]:
# Understanding Start, Stop and Step with an Index
# Remember, index starts at 0 going up, not 1.

# Single Index
print(names[0])

# Prints out starting at index 1 and goes to the end.
print(names[1:])

# Prints starting at the beginning of a list and goes to the second index
# Does NOT include the second index though
print (names[:2])

# Prints from index 1 and goes up BY 2 in each iteration.
print(names[1::2])

# Prints starting from the back, shows in reverse order.
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Bob']
['Max', 'Cindy']
['Cindy', 'Bob']
['Bob', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [40]:
#Attaches to the end of the list. 

names.append("Asia")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Bob', 'Asia']

##### .insert()

In [41]:
# Adds a value to the indicated index. 
# list.insert(index,value)

names.insert(3, "Jimmy")
print(names)

['Max', 'Cindy', 'Kathy', 'Jimmy', 'Bob', 'Bob', 'Asia']

##### .pop()

In [42]:
# The default is the last value if no parameter is provided. 
# This method should return the element that was removed.
# Just in case you wanted to assign it into its own variable.

# my_name = names.pop()
# print(my_name)

print(names.pop(3))

Jimmy


##### .remove()

In [43]:
# This removes the value, not the index.
# names.remove("Bob")

# Prints the current list of names.
print(names)

# Removes the multiple 'Bob' out of the list.
while 'Bob' in names:
    names.remove("Bob")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Bob', 'Asia']
['Max', 'Cindy', 'Kathy', 'Asia']

##### del()

In [44]:
# This removes the index, not the value.
# Be cautious with this method, it can cause index errors if used incorrectly.

del(names[3])
print(names)

['Max', 'Cindy', 'Kathy']

##### Concatenating Two Lists

In [45]:
# This will append two lists together.
# It will NOT add up all the elements in each list.

l_2 = [0, 1, 2]
l_3 = [3, 4, 5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [48]:
# Lists are able to hold any type of element, including other lists.
# They can go as deep as desired, having many lists nested within each other.
# Nesting is the norm and levels of 5 lists deep is to be expected.

names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]

print(names)
print(names[2])
print(names[0])
print(names[3][2])
print(names[3][0])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Josh
Max
Tameka
Sally

##### Looping Through Lists

In [49]:
# There are two ways to loop through a list.
# One, by using index.
# Two, by using the 'in' keyword.

# Loops with the for Loop (The Index Method):
for i in range(len(names)):
    print(names[i])
    
# Loops with a for Loop (The 'in' Method):
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [52]:
# A cubed number is a number multiplied bu itself 3 times. 
# Goal is to print out the result of cubing numbers, but not over 1,000.
# Not the numbers to be cubed.

num = 1

while True:
    result = num * num * num 
    print(result)
    num += 1
    if result >= 1000:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [68]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Prime numbers are greater then 1 and divisible only by 1 or itself.
# Goal is to cycle through numbers and check 
# Stop checking once you get to 100.
# ...Stuck, had to Google. Tried to break it down after getting answer.


# Takes a range of 2 to 101 because 1 and 0 aren't prime and 101 ensures 
# it loops to test 100 as well. 

# Creates the placeholder i and when the i is BETWEEN the range of 2 and 
# the cycled numbers a if statement runs.
# If the number is ever divisible by any number BETWEEN 2 and the number
# before itself the loop breaks. Otherwise the number would be printed. 

for num in range(2,101):
    for i in range(2,num):
        if (num % i == 0):
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [66]:
# Take in a input, change it to a integer, compare it to various conditions. 

answer = input("Tell me your age: ")
age = int(answer)

if age < 18:
    print("Kid")
elif age >= 18 and age <= 65:
    print("Adult")
else:
    print("Senior")

Tell me your age: 65
Adult